/* 
    colors:

    background: #14AAF5;    blue
    background: #AB5DE6;    purple
    background: #2CC6AB;    dark-green
    background: #FF9B00;    orange
    background: #EC4A9D;    pink
    background: #A3D116;    light-green
    
*/