*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

:root {
    --global-color: #ffffff;
    --bg-body-color: #638671;
    --add-task-color: #14AAF5;
    --add-section-text-color: #CFD5D9;
    --title-section-color: #4A4F58;
    --button-editorial-color: #09A9ED;
    --button-q1-goal-color: #AB5DE6;
    --button-recruiting-color: #2CC6AB;
    --button-mobile-color: #FF9B00;
    --button-website-color: #EC4A9D;
    --button-sales-color: #A3D116;
    --flag-false-color: #FF3535;
    --flag-true-color: #30C7AD;

    --line-height: 41.58px;
}


/*********************
 Body 
**********************/

body{
    background-color: var(--bg-body-color);
}

/************ #Site-Header ************/

#site-header{
    background-color: var(--global-color);
}

.logo{
    height: 5rem;
    vertical-align: middle;
}

#main-title{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
}

/************ /#Site-Header ************/


/************ #Site-Main ************/

/**** Container ****/

.container{
    background-color: var(--global-color);
    width: 62rem;
    height: 42rem;
    margin: 2.5rem auto;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
}

/* Container-header */

#add-task{
    display: inline-block;
    width: 4.5rem;
    height: 1.8rem;
    background-color: var(--add-task-color);
    color: var(--global-color);
    border-radius: 0.4rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7rem;
    padding: 0.4rem;
    margin: 0.4rem 0.1rem;
}

#add-section{
    display: inline-block;
    width: 6rem;
    height: 1.8rem;
    background-color: var(--global-color);
    color: var(--add-section-text-color);
    border-color: var(--add-section-text-color);
    border-style: solid;
    border-width: thin;
    border-radius: 0.4rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7rem;
    padding: 0.4rem;
    margin: 0.4rem 0.1rem;
}

/* Container-main */

.container-main-section{
    margin: 2rem 0;
}

.section-title{
    margin-bottom: 0.5rem;
    color: var(--title-section-color);
}
.triangle{
    font-size: 0.75rem;
}

.circle-checkmark {
    padding: 1px 4px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

 .true {
    color: var(--flag-true-color);
    border: 1px solid var(--flag-true-color);
 }

 .false {
    color: var(--flag-false-color);
    border: 1px solid var(--flag-false-color);
 }

 /* Topic-tag section */

.topic-tag {
    display: inline-block;
    height: 1.8rem;
    color: var(--global-color);
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7rem;
    padding: 0.4rem;
    margin: 0.4rem;
}

.tagless {
    line-height: var(--line-height);
}

.editorial {
    width: 4.5rem;
    background-color: var(--button-editorial-color);
}

.q1-goals {
    width: 5rem;
    background-color: var(--button-q1-goal-color);
}

.recruiting {
    width: 5rem;
    background-color: var(--button-recruiting-color);
}

.mobile {
    width: 4rem;
    background-color: var(--button-mobile-color);
}

.website {
    width: 4rem;
    background-color: var(--button-website-color);
}

.sales{
    width: 3.5rem;
    background-color: var(--button-sales-color);
}

/************ /#Site-Main ************/



/************ #Site-Footer ************/

#site-footer {
    text-align: center;
    font-size: 0.75rem;
}

/************ #/Site-Footer ************/
